<a class="bg-dark">
  <img src="assets/MULTIPLES.png" alt="Image" height="600" width="1000" id="imagencentral" >
</a>
<p>
  <p>Pioneer fue fundado en 1938 por Nozomu Matsumoto, un hombre con una pasión por la música que</p>
<p>buscaba compartir con el mundo altavoces de audio de alta calidad. Mientras Pioneer se ha desarrollado y </p>
<p>establecido a niveles internacionales como un gran fabricante de productos </p>
<p>de audio y video, la pasión continúa siendo la misma:crear una experiencia de entretenimiento inigualable.
</p>



