<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <ion-icon name="list"></ion-icon>
      <img src="assets/ICONO.png" alt="Image" height="40" width="60" id="ngICONO">
      NEXTUBE
    </a>
    <form class="d-flex m-auto">
      <input class="form-control me-2" size="100px" type="" placeholder="" aria-label="">
      <button class="btn btn-outline-success" type="submit">BUSCAR</button>
      <button class="btn btn-outline-success" type="submit"><ion-icon name="mic"></ion-icon>
      </button>
    </form>

    <button class="btn btn-outline-success" type="submit"> <ion-icon name="apps"></ion-icon></button>
    <button class="btn btn-outline-success" type="submit"><ion-icon name="ellipsis-vertical"></ion-icon></button>
    <button class="btn btn-outline-success" type="submit">ACCEDER</button>




  </div>
</nav>
