<ng-template #ventana let-modal>
  <div class="modal-header" >
    <img src="{{imagenObtenida}}" style="width: 100%" class="modal-title">
    <button class="btn-close" aria-label="close" type="submit" (click)="modal.dismiss()">
      <span aria-hidden="true"> &times; </span>
    </button>
  </div>
  <div class="modal-body">
    <h1>{{nombreObtenido}}</h1>
    <p align="justify"> {{referenciaObtenida}}</p>
  </div>
</ng-template>

<div class="overflow-auto">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light overflow-auto">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4"></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a clas="button" href="#" (click)="modal.open(ventana); mandarDatos('WOOFER','assets/WOOFERPLANO.jpg' ,'SISTEMA POTENTE DE AUDIO DISEÑADO PARA AMANTES DEL AUDIO')">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          <FONT FACE="arial" SIZE=3 COLOR="black">
            Subwoofer delgado de 12″ con caja sellada</FONT>
          <img src="assets/WOOFERPLANO.jpg" alt="Image" height="150" width="150"  >


        </a>
      </li>
      <li>
        <a clas="button" href="#" (click)="modal.open(ventana); mandarDatos('WOOFER','assets/WOOFERCAJON.jpg' ,'WOOFER DE AUTO DE COMPETENCIA DOBLE BOBINA ')">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          <FONT FACE="arial" SIZE=3 COLOR="black">
            Subwoofer de Competencia de 12″ 800 RMS</FONT>
          <img src="assets/WOOFERCAJON.jpg" alt="Image" height="150" width="150" >


        </a>
      </li>
      <li>
        <a clas="button" href="#" (click)="modal.open(ventana); mandarDatos('WOOFER','assets/WOOFERCAJON2.jfif' ,'WOOFER PLANO PARA PICK UP DE GRAN RENDIMIENTO 800 RMS')">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          <FONT FACE="arial" SIZE=3 COLOR="black">
            Subwoofer de Competencia de 12″ 800 RMS</FONT>
          <img src="assets/WOOFERCAJON2.jfif" alt="Image" height="150" width="240">
        </a>
      </li>
      <li>
        <a clas="button" href="#" (click)="modal.open(ventana); mandarDatos('WOOFER','assets/WOOFERCAJON3.jfif' ,'WOOFER Y CAJON DE 600 RMS DE ALTO RENDIMIENTO')">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          <FONT FACE="arial" SIZE=3 COLOR="black">
            Subwoofer plano de 12″ 600 RMS</FONT>
          <img src="assets/WOOFERCAJON3.jfif" alt="Image" height="150" width="180">
        </a>
      </li>
    </ul>
  </div>

</div>
